@import url("https://fonts.googleapis.com/css?family=Poppins:400, 500, 600, 700");

// Variables
$generic-box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.12);
$generic-border: 1px solid #f1f1f1; // General Settings
$generic-border-radius: 10px;
// Primary
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

// Accent
$blue: hsl(248, 32%, 49%);

// Neutral

$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.first-name-error,
.last-name-error,
.email-address-error,
.password-error {
  display: none;
}

.container {
  padding: 50px 0px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-align: center;
  background: $red url("../../images/bg-intro-desktop.png") no-repeat fixed
    center;

  .heading {
    padding: 12px;
    text-align: left;
    width: 375px;

    h1 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 50px;
    }
  }

  .form-container {
    max-width: 575px;
    padding: 12px;
    .banner-container {
      background-color: $blue;
      padding: 15px 50px;
      border-radius: $generic-border-radius;
      margin-bottom: 20px;
      box-shadow: $generic-box-shadow;

      p {
        font-weight: 400;
        span {
          font-weight: 600;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      padding: 18px;
      background-color: white;
      justify-content: space-evenly;
      color: $dark-blue;
      border-radius: $generic-border-radius;
      box-shadow: $generic-box-shadow;

      input {
        padding: 0 18px;
        height: 43px;
        box-sizing: border-box;
        border-radius: 5px;
        outline: none;
        opacity: 0.3;
        margin-bottom: 15px;
        border: 1px solid $grayish-blue;
        font-weight: 600;
        color: $dark-blue;

        &::placeholder {
          font-weight: 600;
        }
      }

      .error {
        border: 1.5px solid $red;
        color: $red;
        background: url("../../images/icon-error.svg") no-repeat;
        background-position: 97%;
        margin-bottom: 0px;
      }
      label {
        position: relative;
        color: $red;
        text-align: right;
        font-style: italic;
        font-weight: 500;
        font-size: 13px;
      }
      button {
        background-color: $green;
        border: unset;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        color: white;
        padding: 15px 0px;
        text-transform: uppercase;
        box-shadow: 0px 4px 0px 0px rgba(48, 171, 118, 1);

        &:hover {
          opacity: 0.8;
        }
      }

      .disclaimer {
        font-size: 11px;
        padding: 10px 30px;
        color: $grayish-blue;
        span {
          color: $red;
          font-weight: 800;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    flex-direction: column;
    width: 100%;
    padding: 50px 20px;
    background: $red url("../../images/bg-intro-mobile.png") no-repeat fixed
      center;

    .heading {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
}
